:root {

  --color-green: #4CAF50;
  --color-red: hsl(0, 80%, 48%);
  --color-light-gray: hsl(220, 10%, 85%);

  --color-fresh: #4ABDAC;
  --color-vermillion: #FC4A1A;
  --color-sunshine: #F7B733;
  --color-clean: #DFDCE3;

  /*scheme #1*/
  --color-delete: darkred;
  --color-background:white;
  --color-main: #3b5998;
  --color-edit: darkgray;
  --color-pickedUp: #3b5998;
  --color-default-button: #3b5998;
  --color-text: black;
  --color-search-bar: #DFDCE3;

}

h2{
  color: var(--color-text);
}

body {
  font-family: Helvetica, sans-serif;
  background-color: var(--color-background);
}



form label, label[for="search"] {
  font-variant: common-ligatures small-caps;
}

select {
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 3em;
}

.hiddenItem,
.hiddenPackage{
  padding: 5px 5px;
  background-color: var(--color-clean);
  width: 100%;
  text-align: left;
  color: black;
  border-radius: 5px;
}

.hiddenItem:hover,
.hiddenPackage:hover {
  transform: scale(1.05);

}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: darkslategray;
}

p.smallText{
  font-size: 10px;
  color:var(--color-main);
}

li div.colHeader {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  height: 10vh;
}


li i{

    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-size: 10px;
}

li div.colHeader:hover {
  background-color: #111;
  color: white;
}

textarea {
  border: none;
  border-radius: 5px;
}

.active {
  background-color: gray;
  color: black;
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;
}

@mixin columns($n) {
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: repeat($n, 1fr);
    background-color: var(--color-background);
}

#layout{
    @include columns(3);
}

#navbar{
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--color-main);
  a {
    text-decoration: none;
  }
}

.label{
  text-align: center;
}

.colHeader{
  text-align: center;
  margin: 0 0px 0px 0;
  background-color: var(--color-main);

}

.colOutline{
  outline: 1px solid var(--color-light-gray);
  height: 90vh;
  overflow-y:auto;
  margin: 0;
  padding: 20px;
}


ol.package, ol.lentItems {
  list-style-type: none;
  padding-left: 0px;
}


h1{
  text-align: center;
}

h2{
  text-align: center;
  margin: 0px 0px 10px 0px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#packageEntry.entry{
  background-color: white;
}



.entry{
  background-color: var(--color-search-bar);
  padding: 10px 10px;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px var(--color-light-gray);
  box-shadow: none;
}



.button {
    background-color: var(--color-default-button);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    width: 25%;
    transition: all .2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}



.button.delete {
  background-color: var(--color-delete);
  color: white;
}

.button.edit {
  background-color: var(--color-edit);
  color: white;
}

.button.pickedUp {
  background-color: var(--color-pickedUp);
  float: right;
  padding-right: 2px;


}
.button.undo{
  background-color: var(--color-delete);
  color: white;
}

.button.cancel {
  background-color: darkgray;
  color: black;
}

.submit{
  background-color: var(--color-green);
}



/* Notes */
#notesCol {
  --note-border-thickness: 0px;
  --note-padding-default: 10px;

  .note {
    padding: var(--note-padding-default);
    margin: 15px;
    background-color:var(--color-search-bar);
    box-shadow: 3px 3px 4px black;
    border: var(--note-border-thickness) solid black;
    border-radius: 5px;
    p {
      padding: 0;
      margin: 0 10px 15px 0;
      font-size: 14px;
    }
  
    .button {
      width: auto;
      margin: 0px 10px 0px 0px;
      height: 100%;
    }
  
    .button.pin-button {
      margin-left: auto;
      margin-right: 0px;
      /*background-color: midnightblue;*/
      background-color: var(--color-main);
      color: white;
    }
  
    .noteCredit {
      float: right;
      text-align: right;
      font-size: 50%;
      align-self: flex-end;
      margin-left: auto;
    }  
  }

  .note.notePinned {
    --note-border-thickness: 3px;

    padding: calc(var(--note-padding-default) - var(--note-border-thickness));
    /*background-color: midnightblue;*/
    background-color: var(--color-main);
    color: white;
    box-shadow: none;

    .button.pin-button {
      background-color: white;
      color: black;
    }
  }

  .note.noteEditing {
    background-color: plum;
    box-shadow: 3px 3px 4px rebeccapurple;
  }
  
  .note-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .newNoteContainer {
    margin: 0 15px 15px 15px;
  }

  .noteTextEdit {
    --new-note-text-padding: 2px;
    background-color: var(--color-search-bar);
    padding: var(--new-note-text-padding);
    width: calc(100% - calc(2 * var(--new-note-text-padding)));
    height: 4em;
    resize: vertical;
  }  
}


#lent {
    @include columns(2);
}

.moreinfo {
    cursor: help;
}

.item.filtered-out,
.pkg.filtered-out {
    display: none;
}

.pkglabel:hover {
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
}

.item,
.pkg {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    button {
        padding: 0px;
    }
}

