:root {

  --color-green: #4CAF50;
  --color-red: hsl(0, 80%, 48%);
  --color-light-gray: hsl(220, 10%, 85%);
}


#layout{
  display: grid;
  margin-top: 10px;
  grid-column-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .1fr 1fr;
}

#menu{
  grid-column: 1/4;
  grid-row: 1;
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: repeat(7, 1fr);
}

.label{
  text-align: center;
}

.colHeader{
  outline: 1px solid var(--color-light-gray);
  text-align: center;
  margin: 0 0px 0px 0;

}
.colOutline{
  height: 600px;
  outline: 1px solid var(--color-light-gray);
  margin: 0;

}

ol.package{
  list-style-type: none;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}

#search{
  text-align:center;

}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#packageForm{
  margin-left: 20px;
}

.entry{

}

.button {
    background-color: var(--color-green);
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}


/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#delete{
  background-color: var(--color-red);
}
