

#lentout{


}

#lentin{


}


.item.filtered-out {
    display: none;
}

.item {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    button {
        padding: 0px;
    }
}
